<body>
    <main class="mainPage">
        <div class="mainPage_wrap">
            <section class="sec1">
                <div class="sec1_wrap">
                    <div class="intro_wrap side_p">
                        <h3 class="p50">INTRODUCE <span class="bold">OURWEBSITE</span></h3>
                    </div>
                    <div class="main_sec1_content side_p">
                        <div class="left">
                            <div id="spaceship"></div>
                            <div class="title p50">
                                <h1>WOULD <span class="italic">YOU</span><br />LIKE?</h1>
                            </div>
                            <div class="middle p50">
                                <div class="circle_wrap">
                                    <span class="circle"></span>
                                </div>
                                <p>
                                    아름다운 밤하늘<br />
                                    그 너머의<br />
                                    광활한 우주
                                </p>
                            </div>
                            <div class="bottom p50">
                                <div class="circle_wrap"><span class="circle"></span><span class="circle"></span></div>
                                <p>
                                    우주의 신비를 알고싶다면<br />
                                    WOULD YOU<br />
                                    LIKE?
                                </p>
                            </div>
                        </div>
                        <div class="right p50 width_3"></div>
                    </div>
                </div>
            </section>
            <section class="sec2">
                <div class="sec2_wrap side_p">
                    <div>
                        <div class="circle_wrap p50"><span class="circle"></span><span class="circle"></span><span class="circle"></span></div>
                        <div class="about_content">
                            <h2 class="p50">ABOUT US</h2>
                            <div class="p50 width_3">
                                <p>
                                    우주라이크[WouldYouLike]는 대한민국의 우주 외교관으로서 천문학과 학생들을 중심으로 천문우주 과학 소통을 위해
                                    노력하는 Science Communication 단체이다. 2011년 탄생이래 학생들이 손수 제작하는 국내 유일의 천문우주 전문 잡지
                                    우주라이크를 제작하고 서울 지역 캠퍼스와 전국 각지 신청자들에게 무료 배포하고 있다. 또한 2012년 상반기부터 꾸준히
                                    페이스북을 이용해 소셜 네트워크 버전의 콘텐츠를 제공하는 동시에 대중과 소틍을 통한 과학 대중화 활동을 주도적으로
                                    이어 나가고 있다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec3">
                <div class="sec3_wrap side_p">
                    <!-- <div class="top p50">
                        <div class="circle_wrap">
                            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
                        </div>
                        <h2>JOYRNALS by <span class="italic">CATEGORIES</span></h2>
                    </div> -->
                    <div class="swiper sec3_swiper bottom p50all">
                        <div class="top">
                            <div class="circle_wrap">
                                <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
                            </div>
                            <h2>JOYRNALS by <span class="italic">CATEGORIES</span></h2>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">TECHNOLOGY</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">SPACE EXPLORATION</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">EARTH&MOON</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">PLANET</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">STAR CLUSTARS</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">ART&MUSIC</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">MOVIE&BOOK</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="journal">
                                    <div class="journal_front">
                                        <div>
                                            <div class="top_title">
                                                <h4 class="bold">HISTORY</h4>
                                                <div class="plus"><span></span><span></span></div>
                                            </div>
                                            <p>
                                                놀라운 속도로 발전하는 과학 기술들 중에 우주와 관련한 기술들에 관한 소개, 기술을 사용한 사례등에
                                                관련한 내용을 다룬다.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="journal_back"></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>
            <section class="sec4">
                <div class="top side_p">
                    <h2 class="p50"><span class="italic">d-day</span>&nbsp COUNTER</h2>
                    <div class="circle_wrap p50"><span></span><span></span><span></span><span></span><span></span></div>
                </div>
                <div class="bottom side_p">
                    <div class="counter_wrap p50"></div>
                    <div class="counter_list width_3">
                        <div class="c_list_tap p50">
                            <div class="direction"></div>
                            <p class="bold">LUNAR ECLIPSE</p>
                        </div>
                        <div class="c_list_tap p50">
                            <div class="direction"></div>
                            <p class="bold">LUNAR ECLIPSE</p>
                        </div>
                        <div class="c_list_tap p50">
                            <div class="direction"></div>
                            <p class="bold">LUNAR ECLIPSE</p>
                        </div>
                        <div class="c_list_tap p50">
                            <div class="direction"></div>
                            <p class="bold">LUNAR ECLIPSE</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec5">
                <div class="sec5_wrap side_p">
                    <div class="left">
                        <div class="title">
                            <h2 class="p50all">COMMUNITY</h2>
                            <div class="circle_wrap p50all">
                                <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span
                                ><span class="circle"></span>
                            </div>
                        </div>
                        <div>
                            <ul class="date_wrap">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="p50">
                                <div class="commu_title">
                                    <p>제 11회 우주라이크 수습 기자단 모집 공고</p>
                                    <div class="plus"><span></span><span></span></div>
                                </div>
                                <div class="commu_info"></div>
                            </li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- <div class="box"></div> -->
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
;
<script>
    var swiper = new Swiper(".sec3_swiper", {
        slidesPerView: 1,
        width: 290,
        centeredSlides: true,
        spaceBetween: 25,
        mousewheel: false,
        grabCursor: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: false,
        },
    });
</script>
<!-- <script src="js/mainPage_swiper.js"></script> -->
<!-- <script src="js/about.js"></script> -->
