<body>
    <main class="about">
        <section class="sec1">
            <div class="wrap">
                <h1>WOULD YOU LIKE?</h1>
                <div id="spaceship"></div>
            </div>
        </section>
        <div class="box"></div>
    </main>
</body>
<script src="js/about.js"></script>
