<body>
    <main class="contactPage">
        <section class="sec1 side_p">
            <div class="sec1_wrap">
                <div class="width_2 p50all">
                    <div class="title">
                        <h2>CONTACT US</h2>
                    </div>
                    <div class="content">
                        <div>
                            <p class="kr bold">이름 :</p>
                            <div><input type="text" /></div>
                        </div>
                        <div>
                            <p class="bold">E-MAIL :</p>
                            <div><input type="text" /></div>
                        </div>
                        <div>
                            <p class="kr bold">전화번호 :</p>
                            <div><input type="text" /></div>
                        </div>
                        <div>
                            <p class="kr bold">제목 :</p>
                            <div><input type="text" /></div>
                        </div>
                        <div>
                            <p class="kr bold">메시지 :</p>
                            <div><textarea name="" id="" cols="30" rows="10"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="width_3 p50all">
                    <div class="contact_img"><img src="img/contact.png" alt="" /></div>
                    <div class="color_btn">
                        <h4>SEND</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
