<header>
    <div class="header_wrap">
        <div id="left_line"></div>
        <div id="right_line"></div>
        <div id="top_btn">TOP</div>
        <div class="side_p" id="top_h">
            <h1><a class="h_logo" href="/"></a></h1>
            <span></span>
        </div>
        <div class="gnb side_p">
            <div class="gnb_wrap">
                <ul class="p50">
                    <li><a href="about_us">ABOUT US</a></li>
                    <li><a href="journal_list">JOURNAL</a></li>
                    <li><a href="">APOD</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <li><a href="">COMMUNITY</a></li>
                </ul>
                <div class="search_wrap p50">
                    <input type="text" placeholder="SEARCH" />
                    <span class="search_icon"></span>
                </div>
            </div>
        </div>
    </div>
</header>
