<header>
    <div class="header_wrap">
        <div id="left_line"></div>
        <div id="right_line"></div>
        <div id="top_btn">
            <div><img src="img/sparkling.png" alt="" /></div>
            TOP
            <div><img src="img/sparkling.png" alt="" /></div>
        </div>
        <div class="side_p" id="top_h">
            <h1><a class="h_logo" href="/"></a></h1>
            <div class="cate_btn"><span></span><span></span><span></span></div>
        </div>
        <div class="gnb side_p">
            <div class="gnb_wrap">
                <ul class="p50">
                    <li><a href="/">MAIN</a></li>
                    <li>
                        <a href="journal">JOURNAL</a><span><a href="upload_journal">JOURNAL-UPLOAD</a></span>
                    </li>
                    <li><a href="apod">APOD</a></li>
                    <li><a href="contact_us">CONTACT US</a></li>
                    <li>
                        <a href="/community">COMMUNITY</a><span><a href="upload_notice">NOTICE-UPLOAD</a></span>
                    </li>
                </ul>
                <div class="search_wrap p50">
                    <input type="text" placeholder="SEARCH" />
                    <span class="search_icon"><img src="img/search.png" alt="" /></span>
                </div>
            </div>
        </div>
    </div>
    <div class="m_wrap">
        <div class="mobile_gnb">
            <div class="mobile_wrap">
                <div class="side_p">
                    <div class="search p50">
                        <input type="text" placeholder="SEARCH" />
                        <div class="search_icon"><img src="img/search.png" alt="" /></div>
                    </div>
                    <ul>
                        <li class="p50">ABOUT US</li>
                        <li class="p50">APOD</li>
                        <li class="p50">COMMUNITY</li>
                        <li class="p50">JOURNAL</li>
                    </ul>
                    <div class="color_btn">
                        <h5 class="bold">SUBSCRIBE</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
