<body>
    <main class="write_notice">
        <section class="side_p">
            <div class="journals_wrap p50all">
                <form action="/u_notice" method="post" enctype="multipart/form-data">
                    <div class="write_table">
                        <div class="j_title">
                            <h2>UPLOAD JOURNAL</h2>
                        </div>
                        <div>
                            <div class="title">
                                <h4 class="inner_p">제목:</h4>
                                <input type="text" name="title" />
                            </div>
                            <div class="writer">
                                <h4 class="inner_p">작성자:</h4>
                                <input type="text" name="writer" />
                            </div>
                        </div>
                        <div>
                            <div class="category">
                                <h4 class="inner_p">카테고리:</h4>
                                <select name="category">
                                    <option value="">--Please choose an option--</option>
                                    <option value="public">PUBLIC</option>
                                    <option value="private">PRIVATE</option>
                                </select>
                            </div>
                            <div class="password">
                                <h4 class="inner_p">비밀번호:</h4>
                                <input type="password" name="password" />
                            </div>
                        </div>
                        <div class="file">
                            <h4 class="inner_p">첨부파일:</h4>
                            <input type="file" name="notice_img" />
                        </div>
                        <div class="content">
                            <h4 class="inner_p">내용:</h4>
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="btn"><input type="submit" value="SUBMIT" /></div>
                </form>
            </div>
        </section>
    </main>
</body>
