* {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 400;
}
.kr {
    font-family: "Noto Sans KR";
}
h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 16px;
}
p {
    font-size: 20px;
}
.bold {
    font-weight: 800;
}
.italic {
    font-style: italic;
}
main {
    margin-top: 170px;
}
.tablet {
    display: none;
}
body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    /* background-color: #efefef; */
}
.side_p {
    padding: 0 50px;
    box-sizing: border-box;
}
.bottom_p {
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}
.inner_p {
    padding: 0 16px;
    box-sizing: border-box;
}
.p50 {
    padding: 0 50px;
    box-sizing: border-box;
}
.p50all {
    padding: 50px;
    box-sizing: border-box;
}
.width_3{
    width:calc(33.3333% - 16.6666px);
}
#left_line {
    width: 1px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50px;
    background-color: black;
}
#right_line {
    width: 1px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 50px;
    background-color: black;
}
#top_btn {
    width: 75px;
    box-sizing: border-box;
    height: 83.2569px;
    /* padding-top: 52%; */
    position: fixed;
    bottom: 0px;
    right: 13.5px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    background-image: url(../img/circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    rotate: 360deg;
}
#top_btn.active {
    opacity: 1;
    bottom: 100px;
    rotate: 0deg;
}
header {
    border-bottom: 1px solid black;
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}
.header_wrap {
    width: 100%;
    position: relative;
}
#top_h {
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_h.scroll > h1 {
    padding: 0;
}
#top_h.scroll > h1 > .h_logo {
    padding: 0;
    height: 0;
}
#top_h > h1 {
    padding: 25px 0;
    width: 195px;
    height: auto;
    transition: 0.5s;
}
.h_logo {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 35.8%;
    background-image: url(../img/wouldyou_logo.png);
    background-size: cover;
    transition: 0.5s;
}
#top_h > span {
    display: none;
}
.gnb {
    border-top: 1px solid black;
}
.gnb_wrap {
    width: 100%;
    /* max-width: 1440px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    /* padding: 0 50px; */
    box-sizing: border-box;
}
.gnb ul {
    display: flex;
    justify-content: start;
    gap: 40px;
}
.gnb li > a {
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
}
.search_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(33.3333% - 16.6666px);
    border-left: 1px solid black;
    box-sizing: border-box;
    /* padding-left: 16px; */
    /* padding: 0 25px; */
}
.search_wrap > input {
    border: 0;
    /* line-height: 50px; */
    font-size: 16px;
    font-weight: 700;
    width: 80%;
}
.search_icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/search.png);
}

.btn_wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px auto 20px;
}
.btn {
    display: block;
    width: fit-content;
    background-color: black;
}
.btn > input {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
}
/* ======================footer========================== */
.footer_p {
    padding: 25px 75px;
    box-sizing: border-box;
}
footer {
    width: 100%;
    background-color: #ffffff;
}
.f_logo_wrap {
    border-bottom: 1px solid black;
}
.f_logo {
    width: 195px;
    height: 69.81px;
    background-image: url(../img/wouldyou_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.f_content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.f_nav {
    display: flex;
    width: 60%;
}
.footer_wrap h6 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.footer_wrap p {
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 15px;
}
.f_journal > div {
    display: flex;
    gap: 40px;
}
/* .f_nav > div {
    padding: 25px 25px 25px 0;
    box-sizing: border-box;
} */
.sns,
.f_journal,
.f_community {
    padding: 25px 0 25px 25px;
}
.f_about_us,
.f_apod {
    padding: 25px 0 12.5px 75px;
    box-sizing: border-box;
}
/* .f_about_us {
    padding: 25px 0 0;
} */
.sns {
    width: 20%;
    border-left: 1px solid black;
    box-sizing: border-box;
    padding-right: 25px;
}
.sns_list {
    width: 100%;
    margin-top: 50px;
}
.sns ul {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    /* scrollbar-width: thin;
    scrollbar-color: transparent; */
}
.sns ul::-webkit-scrollbar {
    height: 15px;
}
.sns ul::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-bottom: 5px solid rgb(241, 241, 241);
}
.sns ul::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-bottom: 5px solid #bbbbbb;
    margin-top: 10px;
    width: 20px;
}
/* .sns ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
} */
.sns ul > li {
    height: auto;
}
.sns ul > li > a {
    display: block;
    width: 42px;
    padding-top: 100%;
    border-radius: 50%;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000000;
}
.sns ul li:nth-child(1) > a {
    background-image: url(../img/insta.png);
}
.sns ul li:nth-child(2) > a {
    background-image: url(../img/facebook.png);
}
.sns ul li:nth-child(3) > a {
    background-image: url(../img/youtube.png);
}
.sns ul li:nth-child(4) > a {
    background-image: url(../img/twitter.png);
}
.sns ul li:nth-child(5) > a {
    background-image: url(../img/google.png);
}
.sns ul li:nth-child(6) > a {
    background-image: url(../img/phone.png);
}

.institutions {
    width: 20%;
    border-left: 1px solid black;
    padding: 25px;
    box-sizing: border-box;
}
#insti_wrap {
    width: calc(100% - 50px);
    height: 40px;
    background-color: #bbbbbb;
    margin-top: 50px;
}
.copyright {
    padding: 15px;
    box-sizing: border-box;
}
.copyright > p {
    text-align: center;
    margin: 0;
}
