.commuPage .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commuPage .options {
    display: flex;
    gap: 20px;
    padding-left: 0;
}
.option {
    width: calc(33.3333% - 13.33333px);
    height: fit-content;
    border: 1px solid #060606;
    box-sizing: border-box;
}
.option.active {
    background-color: #060606;
}
.option p {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.option.active p {
    color: #fff;
}

.commuPage .title {
    width: fit-content;
    padding-bottom: 50px;
}
.commuPage .title h2 {
    text-align: left;
}
.commu_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}
.commu_content > .list {
    display: none;
    position: relative;
    width: calc(25% - 37.5px);
    padding-top: calc(25% - 37.5px);
    border: 1px solid #060606;
    box-sizing: border-box;
}
.commu_content > .list > div {
    position: absolute;
    padding: 25px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.commu_content .noti_title:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #060606;
    margin-top: 10px;
}

.commu_content .noti_title {
    width: fit-content;
    max-width: 100%;
}
.commu_content .noti_title p {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.commu_content .noti_title h4 {
    width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.commu_content p {
    font-size: 16px;
}
.commu_content .list.active {
    display: block;
    /* background-color: aquamarine; */
}
.commu_content .list:hover {
    background-color: #afe9bd;
}
.commu_content .list:hover .noti_title:after {
    animation-name: line;
    animation-duration: 0.8s;
    animation-duration: leaner;
    animation-iteration-count: 1;
}
@keyframes line {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
.detail_journal.notice .j_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
