.journalPage .sec1 {
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.journalPage .sec1_wrap {
    display: flex;
    width: 100%;
    height: calc(100vh - 170px);
}
.journalPage .sec1_wrap .left {
    width: calc(100% - 33.3333%);
    height: 100%;
    position: relative;
}
.journalPage .sec1_wrap .left .wrap {
    width: 100%;
    height: 100%;
}
.journalPage .sec1_wrap .left .wrap > div {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 33.3333%;
}
.journalPage .sec1_wrap .left .middle {
    border-top: 1px solid #060606;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.journalPage .sec1_wrap .left .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.journalPage .sec1_wrap .left .bottom h3 {
    text-align: right;
}
.mainJ_wrap {
    position: absolute;
    top: 7%;
    right: 10%;
    width: 320px;
    height: auto;
    /* background-color: #129ed7; */
}
.mainJ_1,
.mainJ_2 {
    width: 100%;
    padding-top: 130%;
    box-sizing: border-box;
    position: relative;
}
.mainJ_1 {
    transform: translate3d(0, 0, 0) rotate(-20deg);
}
.mainJ_2 {
    transform: translate3d(-70%, -50%, 0) rotate(20deg);
}
.mainJ_1 > div,
.mainJ_2 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainJ_1 img,
.mainJ_2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.mainJ_1 h2,
.mainJ_2 h2 {
    position: absolute;
    top: 20px;
    left: 20px;
}
/* .journalPage .sec1_wrap .circle_wrap {
    width: fit-content;
    margin-bottom: 25px;
} */

.journalPage .sec1_wrap .right h5,
.journalPage .sec1_wrap .right h2 {
    text-align: center;
    color: #fff;
}
.journalPage .sec1_wrap .right .italic {
    color: #fff;
}

.ufo_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 33.3333%;
    height: 100%;
    border-left: 1px solid #060606;
    box-sizing: border-box;
    background-color: #060606;
}
.ufo_banner .img_wrap {
    position: relative;
    width: 100%;
    height: 55%;
}
.ufo_banner #hand {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0 auto;
}
.ufo_banner #ufo {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    animation-name: ufo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.ufo_banner .color_btn {
    border: 1px solid #84d7d4;
    background-color: #84d7d4;
}
.ufo_banner .color_btn:hover {
    border: 1px solid #fff;
    background-color: #fff;
}
/* .journalPage .sec1_wrap .right .color_btn:hover > p {
    color: #84d7d4;
} */
.ufo_banner .color_btn p {
    letter-spacing: -10%;
    color: #060606;
}
@keyframes ufo {
    from {
        bottom: 55%;
    }
    to {
        bottom: 10%;
    }
}
.ufo_banner.mobile {
    display: none;
}
/* ====================sec2=============================== */
.j_title {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
}
.j_title.j_t_2 {
    justify-content: space-between;
}
.filter {
    display: flex;
    gap: 25px;
}
.filter > div {
    position: relative;
    padding-right: 50px;
    box-sizing: border-box;
}
.filter span {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #060606;
    border-bottom: 2px solid #060606;
    transform: translateY(-80%) rotate(45deg);
}
.journals_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.journals_wrap > div {
    display: block;
    width: calc(33.3333% - 16.6666px);
    height: 643px;
    background-color: #fff;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
}
.journals_wrap h5 {
    font-size: 16px;
    line-height: 65px;
    font-weight: 600;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.journals_wrap h4 {
    line-height: 50px;
    font-size: 24px;
    font-weight: 800;
    font-family: "Noto Sans KR", sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.j_prefer span {
    line-height: 50px;
}
.j_text {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.journals_wrap p {
    font-weight: 400;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.j_content {
    width: 100%;
    display: flex;
    height: 400px;
    flex-wrap: wrap;
}
.j_r {
    width: 45%;
}
.j_r > div {
    width: 100%;
    height: 50%;
}
.j_r > div:nth-child(1) {
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hashtag > span {
    text-align: center;
}
.j_img {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    line-height: 0;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
    overflow: hidden;
}
.j_img > img {
    width: auto;
    height: 100%;
}
.j_prefer {
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    gap: 10px;
}
span.viewImg,
span.heartImg {
    display: flex;
    width: 30px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
span.heartImg {
    width: 26px;
    z-index: 10;
}
span.viewImg > img,
span.heartImg > img {
    width: 100%;
    height: auto;
}
.viewCount,
.heartCount {
    color: #c2c2c2;
}

@media (max-width: 1570px) {
    .mainJ_wrap {
        position: absolute;
        top: 12%;
        right: 10%;
        width: 280px;
        height: auto;
        /* background-color: #129ed7; */
    }
    /* .journals_wrap h5 {
        font-size: 22px;
    } */
    .journals_wrap {
        padding: 50px 25px 0;
        box-sizing: border-box;
    }
    .journals_wrap h4 {
        font-size: 25px;
    }
}
@media (max-width: 1200px) {
    .journalPage .sec1_wrap .left {
        width: 50%;
    }
    .journalPage .sec1_wrap .right {
        width: 50%;
    }
    .mainJ_wrap {
        top: 20%;
        right: 7%;
        width: 230px;
        height: auto;
        /* background-color: #129ed7; */
    }
    .journals_wrap h5 {
        font-size: 20px;
    }
    .journals_wrap h4 {
        font-size: 22px;
    }
    /* .h_logo {
        width: 136.5px;
        height: 52.5px;
    } */
    .times > div {
        padding: 25px 10px;
    }
    .main_img {
        padding-top: 56.3542%;
        background-image: url(../img/main_1024.png);
    }
    .main_wrap {
        padding: 50px 0;
    }
    .search_wrap {
        width: auto;
        border: none;
    }
    .search_wrap > input {
        width: 0;
    }
    .sec1 > a > p {
        font-size: 20px;
        width: 200px;
        padding: 0 30px;
        line-height: 43px;
    }

    /* ==============journals============ */
    .journals_wrap {
        padding: 40px 25px;
    }
    .journals_wrap > div {
        width: calc(50% - 13.3333px);
    }
    /* =================sec5============= */
    .delivery_wrap {
        flex-direction: column;
    }
}
@media (max-width: 835px) {
    .inner_p {
        padding: 0 8px;
    }
    .bottom_p {
        padding-bottom: 20px;
    }
    .journalPage .sec1_wrap .left .middle {
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
    }
    .journalPage .sec1 h1 {
        font-size: 40px;
        text-align: center;
    }
    .journalPage .sec1 .title {
        margin-top: 40px;
    }
    .journalPage .sec1_wrap .left .bottom {
        align-items: center;
        margin-top: -20px;
    }
    .journalPage .sec1_wrap .left .bottom h3 {
        text-align: center;
    }
    .mainJ_wrap {
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 230px;
        height: auto;
        /* background-color: #129ed7; */
    }
    .journalPage .desktop {
        display: none;
    }
    .journalPage .mobile {
        display: block;
    }
    .mainJ_1 {
        transform: translate3d(40%, 0, 0) rotate(-15deg);
    }
    .mainJ_2 {
        transform: translate3d(-40%, -42%, 0) rotate(15deg);
    }
    .journalPage .sec1_wrap {
        height: calc(100vh - 50px);
    }
    .journalPage .sec1_wrap .left {
        width: 100%;
    }
    .journalPage .sec1_wrap .right {
        display: none;
    }
    .journalPage .ufo_banner.mobile {
        display: block;
        width: 100%;
        height: 60vh;
        border-left: none;
        background-color: transparent;
    }
    .ufo_banner > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #060606;
        padding-bottom: 40px;
    }
    .ufo_banner .img_wrap {
        position: relative;
        width: 60%;
        height: 60%;
        box-sizing: border-box;
    }
    .ufo_banner.mobile h2 {
        font-size: 28px;
    }
    .ufo_banner.mobile h2,
    .ufo_banner.mobile .italic,
    .ufo_banner.mobile h5 {
        color: #fff;
        text-align: center;
    }
    .ufo_banner #hand {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin: 0 auto;
    }
    .ufo_banner #ufo {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        animation-name: ufo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .ufo_banner .color_btn {
        margin-top: 10px;
    }
    @keyframes ufo {
        from {
            bottom: 55%;
        }
        to {
            bottom: 10%;
        }
    }
    .j_title {
        height: 58px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0.8px solid black;
    }
    .journals_wrap h5 {
        font-size: 13px;
        line-height: 16px;
    }
    .journals_wrap h4 {
        font-size: 15px;
        line-height: 16px;
    }
    .j_title span {
        display: none;
    }

    .search_wrap {
        width: auto;
        border: none;
    }
    .search_wrap > input {
        width: 0;
    }
    .sec1_wrap > a > p {
        font-size: 16px;
        /* width: 160px; */
        padding: 0 20px;
        line-height: 43px;
        background-size: 6.7%;
    }
    /* ==============journals============ */
    .j_title {
        height: 48px;
        border-bottom: 0.8px solid black;
    }
    .journals_wrap {
        padding: 30px 16px;
        gap: 20px;
    }
    .journals_wrap > div {
        width: calc(50% - 13.3333px);
        height: auto;
        border: 0.8px solid black;
    }
    .journals_wrap h4 {
        border-bottom: 0.8px solid black;
        box-sizing: border-box;
    }
    .view {
        display: none;
    }
    .j_img {
        width: 100%;
        height: 192px;
    }
    .j_img > img {
        width: 100%;
        height: auto;
    }
    .j_r {
        width: 100%;
    }
    .j_r > div {
        height: auto;
    }
    .j_r > div:nth-child(1) {
        display: none;
    }
    .hashtag {
        flex-direction: row;
        gap: 20px;
    }
    .hashtag > span {
        font-size: 10px;
        line-height: 30px;
    }
    .journals_wrap h5 {
        font-size: 11px;
        line-height: 30px;
        font-weight: 500;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }
    .journals_wrap h4 {
        line-height: 30px;
        font-size: 14px;
        font-weight: 800;
        font-family: "Noto Sans KR", sans-serif;
    }
    .j_text {
        display: none;
    }
    .j_prefer span {
        line-height: 24px;
    }
    .j_content {
        height: auto;
    }
    .times {
        padding: 1px;
    }
    .times > div {
        width: calc(25% - 7.5px);
        padding: 25px 5px;
    }
    .times > div > span {
        margin-bottom: 25px;
        font-size: 14px;
        display: block;
        text-align: center;
        font-weight: 900;
        text-shadow: -0.8px 0 #fff, 0 0.8px #fff, 0.8 px 0 #fff, 0 -0.8px #fff;
    }
    .times > div > p {
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 900;
    }

    /* ===================sec4====================== */
    .main .apod_img {
        width: 100%;
        height: 500px;
    }
    .main .sec4_wrap {
        display: block;
        padding: 0;
        padding: 0 38px;
        box-sizing: border-box;
    }
    .main .sec4_wrap > div {
        width: 100%;
        padding: 0 20px;
    }
    .main .sec4_wrap > div > a {
        line-height: 50px;
        font-size: 14px;
        box-sizing: border-box;
    }
    .main .sec4_wrap_l {
        border-right: 0px;
        border-bottom: 1px solid black;
    }
    /* ====================sec5============== */
    .main .sec5_wrap {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .main .submit,
    .main .email {
        margin: 25px auto 0;
        width: 80%;
    }
}
@media (max-width: 600px) {
    .mainJ_wrap {
        top: 20%;
        right: 12%;
        width: 200px;
        height: auto;
        /* background-color: #129ed7; */
    }
    .mainJ_1 {
        transform: translate3d(0, 0, 0) rotate(-15deg);
    }
    .mainJ_2 {
        transform: translate3d(-90%, -42%, 0) rotate(15deg);
    }
}
@media (max-width: 430px) {
    .sec1 h3 {
        font-size: 14px;
    }
    .sec1_wrap > a > p {
        font-size: 14px;
        background-size: 5.7%;
    }
    .journals_wrap {
        padding: 20px;
    }
    .journals_wrap > div {
        width: 100%;
    }
    .times > div > span {
        font-size: 12px;
    }
    /* =======================footer===================== */
}
