/* ==========================sec1 */
/* .mainPage{
    background-color: #fbf6f0;
} */
/* .p20 {
    padding: 0 20px;
    box-sizing: border-box;
}
.p20all {
    padding: 20px;
    box-sizing: border-box;
} */
.mainPage_wrap.fixed {
    position: fixed;
}
.circle_wrap {
    width: fit-content;
    display: flex;
    gap: 3px;
}
.circle_wrap > span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #060606;
}
.color_btn {
    width: fit-content;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #060606;
}

.plus {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.plus > span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #060606;
}
.plus > span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
.direction {
    width: 16px;
    height: 16px;
    border-left: 1px solid #060606;
    border-bottom: 1px solid #060606;
    position: relative;
}
.direction::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background-color: #060606;
    transform: rotate(-45deg) translateX(-6px) translateY(7px);
    position: absolute;
    top: 0;
    right: 0;
}
.direction>span{
    display: none;
}
/* .direction_r{
    display: flex;
    flex-direction: column;
    width:15px;
    height:15px;
    border-top:1px solid #060606;
    border-right:1px solid #060606;
    box-sizing: border-box;
    transform: rotate(45deg);   
}
.direction_r>span{
    display: none;
} */
main.mainPage {
    position: relative;
}
/* ==================sec1 */
/* .mainPage .sec1:hover,
.mainPage .sec2:hover,
.mainPage .sec7:hover,
.mainPage .sec8:hover {
    cursor: url(../img/cursor_ufo.png) 20 30, auto;
} */
.mainPage .sec1 .sec1_wrap .mobile {
    display: none;
}
.mainPage .sec1 {
    position: relative;
    top: 0;
    width: 100%;
}
.mainPage .sec1.fixed {
    position: fixed;
    top: 50px;
    width: 100%;
}
.mainPage .sec1 {
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec1_wrap {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* overflow: hidden; */
}
.scroll_gif {
    position: absolute;
    width: 30px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.scroll_gif > img {
    width: 100%;
}
.mainPage .sec1_wrap > div {
    width: fit-content
}
.mainPage .sec1_wrap .center {
    width: 45%;
    height: auto;
    position: relative;
}
.mainPage .sec1_wrap .splash_img {
    width: 100%;
    transition: 2s;
}
.mainPage .sec1_wrap .center:hover > .splash_img {
    width: 100%;
    transform: scale(2.7);
    transition: 2s;
    z-index: -2;
}
.mainPage .sec1_wrap .center:hover > .astronaut {
    transform: translate3d(-76%, -50%, 0) scale(0.5);
    transition: 2s;
}
/* .mainPage .sec1_wrap .left .splash_img {
    height: 61%;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: -1;
} */
.splash_img > img {
    width: 100%;
}
.mainPage .sec1_wrap .astronaut {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-76%, -50%, 0);
    transition: 2s;
}
/* .mainPage .sec1_wrap .left .astronaut {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate3d(-20%, -40%, 0);
} */
.astronaut > img {
    width: 100%;
}
.mainPage .sec1_wrap .left h5,
.mainPage .sec1_wrap .left h1 {
    text-align: right;
}

/* .mainPage .sec1_wrap .right {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-between;
    border-left: 1px solid #060606;
    box-sizing: border-box;
} */
.ufo {
    width: 80%;
    margin: 30px auto;
}
.ufo > img {
    width: 100%;
}
.mainPage .sec1 .color_btn {
    width: 200px;
    text-align: center;
}
.mainPage .sec1 .input_wrap {
    width: 200px;
    border: 1px solid #060606;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.mainPage .sec1 input {
    width: 100%;
    background-color: none;
    border: none;
}
input:focus {
    outline: none;
}
.mainPage .sec1 .color_btn:hover {
    background-color: #060606;
}
.mainPage .sec1 .color_btn:hover h5 {
    color: #fdf08f;
}
/* .main_sec1_content .left p {
    margin-top: 25px;
} */

/* ========sec2=========================main_about */

.mainPage .sec2 {
    position: relative;
    height: 500px;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec2 h2,
.mainPage .sec2 h5 {
    color: #fffffe;
}
.mainPage .sec2 span {
    background-color: #fffffe;
}
.mainPage .sec2_wrap {
    height: 100%;
}
/* .mainPage .sec2.absolute {
    top: 900px;
    position: absolute;
} */
.mainPage .sec2_wrap > div {
    background-image: url(../img/about_background.jpg);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.mainPage .sec2 .circle_wrap {
    width: 100%;
    justify-content: right;
}
.mainPage .about_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.mainPage .about_content h5 {
    padding: 0;
}
/* .mainPage .about_content > div {
    width: calc(33.3333% - 16.6666px);
} */
/* ================sec3 */
.mainPage .sec3 {
    height: auto;
    border-bottom: 1px solid #060606;
}
.mainPage .sec3 .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mainPage .sec3 .bottom {
    width: 100%;
}
.mainPage .sec3 .swiper-slide {
    width: fit-content !important;
    padding: 100px 0;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}
.mainPage .sec3 .journal {
    display: table;
    width: 290px;
    height: auto;
    position: relative;
}
.sec3 .journal:hover > .journal_front {
    border: none;
    background-color: #ff8671;
    transform: translate3d(-10%, 20%, 0) rotate(-10deg);
    transition: transform 0.5s;
}
.sec3 .journal:hover h4,
.sec3 .journal:hover p {
    color: #fbf6f0;
}
.mainPage .sec3 .journal:hover h4 {
    border-bottom: 1px solid #fbf6f0;
}
.sec3 .journal:hover span {
    background-color: #fbf6f0;
}
.sec3 .journal:hover > .journal_back {
    transform: translate3d(10%, -50%, 0) rotate(10deg);
    transition: transform 0.5s;
}
.mainPage .sec3 .journal h4 {
    width: fit-content;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #060606;
}
.mainPage .sec3 .journal p {
    font-size: 90%;
}
.sec3 .journal_front {
    width: 100%;
    padding-top: 100%;
    background-color: #fffefc;
    border: 1px solid #060606;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.5s;
}
.sec3 .journal_front .top_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec3 .journal_back {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.5s;
}
.sec3 .journal_back > img {
    width: 100%;
    height: auto;
}
.mainPage .sec3 .journal_front > div {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

/* =============== */

.mainPage .sec4 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec4 .top h2 {
    line-height: 50px;
}

.mainPage .sec4 .bottom {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #060606;
    height: 320px;
}
.mainPage .sec4 .counter_wrap .bold {
    margin-bottom: 10px;
}
.mainPage .sec4 .counter_wrap {
    height: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
}
.mainPage .sec4 .counter_wrap.active {
    display: flex;
    flex-wrap: wrap-reverse;
}
.mainPage .sec4 .counter_wrap > div:first-child {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mainPage .sec4 .counter_wrap > .info_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainPage .sec4 img {
    max-width: 90%;
    width: auto;
    height: 80%;
    /* max-height: 300px; */
}
.mainPage .sec4 .counter_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .c_list_tap {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
    transition: 0.2s;
}
.mainPage .c_list_tap.active {
    background-color: #a6e2b5;
}
.mainPage .c_list_tap:hover {
    background-color: #a6e2b5;
    transition: 0.2s;
}
.mainPage .c_list_tap:last-child {
    border-bottom: none;
}
.mainPage .sec4 .d-day {
    display: flex;
}
.mainPage .sec4 .d-day p {
    line-height: 1;
}
/* =======================sec5 */
.mainPage .sec5 {
    border-bottom: 1px solid #060606;
}
.mainPage .sec5_wrap {
    display: flex;
}
.mainPage .sec5_wrap > div {
    width: 50%;
}
.mainPage .sec5_wrap .left {
    display: flex;
    justify-content: space-between;
}
.mainPage .sec5_wrap .left .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.mainPage .sec5_wrap li {
    height: 80px;
    transition: 0.5s;
    box-sizing: border-box;
}
.mainPage .sec5_wrap .right li:hover {
    background-color: #fdf08f;
    transition: 0.5s;
}

.mainPage .sec5_wrap .right {
    border-left: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec5_wrap .right .mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
}
.mainPage .sec5_wrap .right li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec5_wrap .right li:last-child {
    border: none;
}
.mainPage .sec5_wrap .commu_title {
    width: 80%;
}
.mainPage .sec5_wrap .commu_title p {
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}
/* ========sec6 */
.mainPage .sec6 > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #060606;
    box-sizing: border-box;
}
.mainPage .sec6 h2 {
    text-align: right;
    line-height: 50px;
}
.mainPage .sec6 .swiper.apod_img {
    height: 700px;
}
.mainPage .sec6 .swiper-wrapper {
    width: 100%;
}
.mainPage .sec6 .swiper-slide {
    width: 100%;
}
.mainPage .sec6 .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}
.mainPage .sec6 .swiper-pagination-bullet {
    background-color: rgba(0255, 255, 255, 0);
    border: 1px solid #ffffff;
    opacity: 1;
}
.mainPage .sec6 .swiper-pagination-bullet-active {
    background-color: #ffffff;
}
.mainPage .sec6_btn {
    display: flex;
}
.mainPage .sec6_btn > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainPage .sec6_btn > div:hover{
    background-color: #e6f3f9;
}
.mainPage .sec6_btn > div > p {
    line-height: 50px;
}
.mainPage .sec6_btn .right {
    border-left: 1px solid #060606;
}
.mainPage .sec6_btn .iconP{
    transition: 0.5s;
}
.mainPage .sec6_btn .iconP.direction{
    transform: rotate(180deg);
    transition: transform 0.5s;
}

/* .mainPage .sec6_btn > div .plus>span:first-child{
    transform: rotate(45deg) translate3d(0,0,0);
}
.mainPage .sec6_btn > div .plus>span:nth-child(2){
    transform: rotate(135deg) translate3d(0,0,0);
} */
/* ==========sec7 */
.mainPage .sec7 {
    border-bottom: 1px solid #060606;
}
.mainPage .sec7_wrap {
    display: flex;
}
.mainPage .sec7_wrap > .left,
.mainPage .sec7_wrap > .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.mainPage .sec7_wrap .right .mobile {
    display: none;
}
.mainPage .sec7_wrap h2 {
    text-align: left;
}

.mainPage .sec7_wrap .color_btn {
    background-color: #fdf08f;
}
.mainPage .sec7_wrap .right {
    align-items: flex-end;
}
.mainPage .sec7_wrap .right h5 {
    text-align: right;
}
/* .mainPage .sec7_wrap .right{
    border-left:1px solid #060606;
    box-sizing: border-box;
} */
/* =======sec8*/
.mainPage .sec8 {
    border-bottom: 1px solid #060606;
}
.mainPage .sec8_wrap {
    display: flex;
    flex-wrap: wrap;
}
.mainPage .sec8_wrap > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.mainPage .sec8_wrap h2 {
    text-align: left;
}
.mainPage .sec8_wrap .color_btn {
    width: 200px;
    background-color: #e6f3f9;
    text-align: center;
}
.mainPage .sec8_wrap .input_wrap {
    width: 200px;
    border: 1px solid #060606;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.mainPage .sec8_wrap input {
    width: 100%;
    background-color: none;
    border: none;
}
input:focus {
    outline: none;
}
.mainPage .sec8_wrap .right {
    align-items: flex-end;
    justify-content: flex-end;
}
@media (max-width: 1200px) {
    .mainPage .sec4 {
        height: auto;
        border-bottom: 1px solid #060606;
    }
    .mainPage .sec4 .bottom {
        border-bottom: none;
        height: auto;
    }
    .mainPage .sec4 .counter_wrap {
        width: 100%;
        /* height: 500px; */
        display: none;
        justify-content: space-between;
        align-items: flex-end;
    }
    .mainPage .sec4 .counter_list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-left: 1px solid #060606;
        box-sizing: border-box;
    }
    .mainPage .c_list_tap:nth-child(2),
    .mainPage .c_list_tap:nth-child(4) {
        border-left: 1px solid #060606;
    }
    .mainPage .c_list_tap {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        border-top: 1px solid #060606;
        box-sizing: border-box;
        transition: 0.2s;
    }
    .mainPage .c_list_tap .direction {
        transform: rotate(180deg);
    }
    @media (max-width: 835px) {
        .mainPage .sec1_wrap {
            height: calc(100vh - 50px);
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .mainPage .sec1_wrap > div {
            width: 100%;
        }
        .mainPage .sec1 .sec1_wrap .desktop {
            display: none;
        }
        .mainPage .sec1 .sec1_wrap .mobile {
            display: block;
        }
        .mainPage .sec1_wrap .left h5,
        .mainPage .sec1_wrap .right h1 {
            text-align: center;
        }
        .mainPage .sec1_wrap .left h5.mobile {
            font-size: 25px;
        }
        .mainPage .sec1_wrap .center {
            width: 70%;
            height: auto;
            position: relative;
            margin: 25px 0 50px;
        }
        .mainPage .sec1_wrap .splash_img {
            width: 100%;
            transform: scale(1.2);
            transition: 2s;
        }
        .mainPage .sec1_wrap .center:hover > .splash_img {
            width: 100%;
            transform: scale(3);
            transition: 2s;
            z-index: -2;
        }
        .mainPage .sec1_wrap .center:hover > .astronaut {
            transform: translate3d(-50%, -50%, 0) scale(0.5);
            transition: 2s;
        }
        .splash_img > img {
            width: 100%;
        }
        .mainPage .sec1_wrap .astronaut {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: 2s;
        }

        /* ======sec4 */
        .mainPage .sec4 .counter_wrap {
            justify-content: flex-end;
            align-items: flex-start;
            gap: 20px;
        }
        .mainPage .sec4 .counter_wrap > div {
            width: 100%;
        }
        /* .mainPage .sec4 img {
            width:50%;
        } */
        /* ====sec5 */
        .mainPage .sec5 .date_wrap {
            display: none;
        }
        /* =======sec6 */
        .mainPage .sec6 .swiper.apod_img {
            height: 500px;
        }
    }
    @media (max-width: 600px) {
        .italic {
            font-size: 80%;
        }
        .direction {
            width: 15px;
            height: 15px;
        }
        .direction::after {
            width: 20px;
            transform: rotate(-45deg) translateX(-4px) translateY(7px);
        }
        .plus {
            width: 15px;
            height: 15;
        }
        /* ======== */
        .mainPage .sec1_wrap .left h5.mobile {
            font-size: 20px;
        }
        .mainPage .sec1_wrap .center {
            width: 70%;
            height: auto;
            position: relative;
            margin: 50px 0 100px;
        }
        /* sec2======= */
        .mainPage .about_content h5 {
            margin-top: 20px;
            padding: 0;
        }
        /* sec3======== */
        .mainPage .sec3 .journal {
            width: 200px;
        }
        .mainPage .sec3 .journal > div > div {
            padding: 15px;
        }
        .mainPage .sec3 .swiper-slide {
            padding: 90px 0 50px;
        }

        /* ======sec4 */
        .mainPage .c_list_tap {
            width: 100%;
        }
        .mainPage .c_list_tap:nth-child(2),
        .mainPage .c_list_tap:nth-child(4) {
            border-left: 0;
        }
        /* sec5========= */
        .mainPage .sec5_wrap .left {
            display: none;
        }
        .mainPage .sec5_wrap .right {
            width: 100%;
        }
        .mainPage .sec5_wrap .right ul {
            border-top: 1px solid #060606;
        }
        .mainPage .sec5_wrap .right .mobile {
            display: flex;
        }
        .mainPage .sec5_wrap .right .mobile h2 {
            line-height: 50px;
        }
        .mainPage .sec5_wrap .right ul li.p20all {
            height: 50px;
            padding: 5px 20px;
        }
        /* ========sec6 */
        .mainPage .sec6 > .sec6_swiper_wrap {
            /* width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center; */
            border-bottom: 0;
        }
        .mainPage .sec6_btn > div {
            width: 100%;
        }
        .mainPage .sec6_btn .right {
            border-top: 1px solid #060606;
            border-left: 0;
        }
        /* =====sec7 */
        .mainPage .sec7_wrap > .left {
            display: none;
        }
        .mainPage .sec7_wrap > .right {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            height: 250px;
        }
        .mainPage .sec7_wrap .right .italic {
            font-size: 100%;
        }
        /* .mainPage .sec7_wrap .right .circle_wrap.mobile{
            display: flex;
        } */
        .mainPage .sec7_wrap .right .title.mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        .mainPage .sec7_wrap .color_btn {
            display: none;
        }
        .mainPage .sec7_wrap .color_btn.mobile {
            display: block;
            margin: 0 auto;
        }
        .mainPage .sec7_wrap .content {
            display: block;
            margin: 0 auto;
        }
        .mainPage .sec7_wrap .right h5 {
            text-align: center;
        }
        .mainPage .sec7_wrap .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        /* =========sec8 */
        .mainPage .sec8_wrap .right {
            display: none;
        }
        .mainPage .sec8_wrap .left {
            width: 100%;
            height: 250px;
            align-items: center;
        }
        .mainPage .sec8_wrap .left h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        .mainPage .sec8_wrap .left h5 {
            text-align: center;
        }
    }
}
